version: "3.0"
services:
  main:
    build: .
    command: python3 main.py
    network_mode: host
    working_dir: /DataReader/src
    volumes:
      - .:/DataReader
  db:
    image: postgres
    restart: always
    ports:
      - "5431:5432"
    environment:
      POSTGRES_PASSWORD: yulia